<h2>Contact Us</h2>
<div id='contact-box' class="group">
  <div class="span6 clear">
    <form action="/" method="post" class="well">
      <div id="contact_name">
      	<label for="name">Your Name:</label>
      	<input type="text" name="name" class="span4" placeholder="John Smith...">
      </div>
      <div id="contact_email">
      	<label for="email">Your email address:</label>
      	<input type="text" name="email" class="span4" placeholder="email@example.com">
      </div>
      <div id="contact_message">
      	<label for="to">Your message:</label>
      	<br>
      	<textarea name="message" cols='60' rows="10"></textarea><br>
      </div>
      <div id="contact_submit">
      	<button type="submit" class="btn" value="Send">Submit</button>
      </div>
    </form>
  </div>
</div>