<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  
  <title>Sharemeister</title>
</head>
<body>

    <div class="header">
      <h1 id="title">Sharemeister</h1>
      <h2 class="toplinks">
        <a href="/" id="home_button">Home</a>
        <a href="/team" id="team_button">Team</a>
        <a href="/contactus" id="contact_button">Contact</a> 
      </h2>
    </div>

<div id="content">
  <%= yield %>
</div>
</body>
</html>
